body {
    margin: 0 auto;
    background-color: black;
}

html {
    font-size: 0;
    box-sizing: border-box;
}

.container-fluid > * {
    font-size: 4vmin;
}

.container-fluid {
    height: 100vh;
    background-image: url("images/battle-greece.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.healthBar {
    height: 20%;
}

.characterDisplay {
    height: 60%;
}

.userNav {
    height: 20%;
}

.playerCharacter, .playerHealth, .enemyCharacter, .enemyHealth, .skillDisplay {
    height: 100%;
}

.healthWrapper {
    position: relative;
    top: 20%;
    border: 2px solid white;
    border-radius: 8px;
    width: 60%;
    height: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.lifeBar {
    border: 1px solid red;
    height: 50%;
    position: relative;
    z-index: -1;
}

.manaBar {
    border: 1px solid blue;
    height: 50%;
    position: relative;
    z-index: -1;
}

.nameLevel {
    position: relative;
    top: 25%;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.playerHolder img, .enemyHolder img {
    width: 40vmin;
}

.enemyHolder img {
    float: right;
}

.skillContainer {
    display: inline-block;
    border: 3px solid white;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.textSpot {
    text-align: center;
    color: white;
}