body {
    margin: 0 auto;
    background-color: black;
}

html {
    font-size: 0;
    box-sizing: border-box;
}

.container-fluid > * {
    font-size: 4vmin;
}

.container-fluid {
    height: 100vh;
    background-image: url("images/battle-greece.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.healthBar {
    height: 20%;
}

.characterDisplay {
    height: 60%;
}

.userNav {
    height: 20%;
}

.playerCharacter, .playerHealth, .enemyCharacter, .enemyHealth {
    height: 100%;
}